body{
    height: 100%;
    min-height: 100vh;
    background-color: #121320;
    align-content: center;
    font-family: "Montserrat", sans-serif;

}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gradient-circle{
    border: none;
    border-radius: 100%;
    height: 300px;
    width: 300px;
    background-image: linear-gradient(to right,#8e2ea3, #e5e4ee);
}

.left-sided{
    z-index: -1;
    margin: 0 180px 200px 0;
}

.right-sided{
    z-index: -1;
    transform: rotate(180deg);
    margin: 200px 25px 0 0;

}

.glass{
    background: linear-gradient(135deg, rgb(255,225,225, 0.1), rgb(225,225,225,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgb(225,225,225, 0.18);
    box-shadow: 0 8px 12px 0 rgb(0, 0, 0, 0.37);
}

.flip-card{
    width: 450px;
    height:250px;
    perspective: 1000px;
    position: absolute;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

#card-front{
    position: absolute;
    width: 450px;
    height: 250px;
    z-index: 1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; 
}

#top-section-front{
    z-index: 2;
    width: 450px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

#mastercard-logo, #mastercard-name, #chip{
    height: 50px;
    margin-top: 20px;
}

#mastercard-logo{
    margin-right: -20px;
}

#mastercard-name{
    margin-left: 0;
    margin-right: 100px;
    filter: invert();
}

#chip{
    margin-left: 0;
    margin-right: 20px;
}


#middle-section-front{
    height: 50px;
    margin-left: 25px;
    color: white;
}

.card-detail{
    margin-bottom: 5px;
}

.number{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    margin-top: 0;
}

#bottom-section-front{
    display: flex;
    justify-content: space-between;
    color:white;
    margin-left: 25px;
    margin-right: 25px;;
}

#name{
    margin-top: 30px;
    font-size: larger;
}

#valid-thru{
    font-size: small;
    margin-bottom: 0;
}

#valid-thru-date{
    font-size: larger;
    margin-top: 0;
}

#card-back{
    width: 450px;
    height: 250px;
    transform: rotateY(180deg);
    backface-visibility: hidden;

}

#top-section-back{
    color:white;
    font-size: x-small;
    margin: 25px 0 0 25px;
}

#black-strip{
    height: 50px;
    background-color: black;
    margin: 0;
}

#bottom-section-back{
    margin: 20px;
    height: 120px; 
    color: white;
}

#cvv-number{
    background-color: white;
    height: 30px;
    color: black;
    font-style: italic;
    font-weight: 500;
    text-align: right;
    margin-right: 20px;
    border-radius: 5px;
    padding-right: 8px;
    font-size:95%
}

#cvv-number-cover{
    background-image: repeating-linear-gradient(white, #efeff0 20%);
    height: 40px;
    border-radius: 5px;
    margin-right: 60px;
    margin-top: -35px;
}

#lorem{
    margin-top: 10px;
    font-size: x-small;
}